@font-face {
    font-family: "Inconsolata";
    src: url("../assets/fonts/inconsolata/Inconsolata-VariableFont_wdth\,wght.ttf");
}

@font-face {
    font-family: "Inter";
    src: url("../assets/fonts/inter/Inter-VariableFont_slnt\,wght.ttf");
}

@font-face {
    font-family: "Lora";
    src: url("../assets/fonts/lora/Lora-VariableFont_wght.ttf");
}

@font-face {
    font-family: "Lora";
    src: url("../assets/fonts/lora/Lora-Italic-VariableFont_wght.ttf");
    font-style: italic;
}

$black: #050505;
$very-dark-gray: #1F1F1F;
$dark-gray: #2D2D2D;
$medium-gray: #3A3A3A;
$light-gray: #757575;
$very-light-gray: #E9E9E9;
$gray-white: #F4F4F4;
$white: #FFFFFF;
$purple: #A445ED;
$red: #FF5252;

body {
    padding: 24px;
}

header > * + * {
    margin-block-start: 24px;
    margin-block-end: 0;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.controls-holder {
    display: flex;
}

#app {
    font-family: "Inter";
}

#app.Serif {
    font-family: "Lora";
}

#app.Mono {
    font-family: "Inconsolate";
}

body.dark {
    color: $white;
    background-color: $black;
}

#app.dark {
    color: white;
    background-color: $black;
}

#search-bar {
    width: 100%;
    height: 48px;
    box-sizing: border-box;
    border-radius: 16px;
    padding: 24px;

    background-color: $gray-white;
    border: none;

    color: $dark-gray;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;

    outline: none;
}

.dark #search-bar {
    background-color: $very-dark-gray;
    color: $white;
}

#search-bar-holder{
    position: relative;

    > button {
        cursor: pointer;

        border-radius: 50%;
        border: none;
        background: none;

        position: absolute;
        right: 24px;
        top: 0;
        bottom: 0;
    }
}

#search-bar:focus {
    box-shadow: 0 0 5px $purple;
}

@media only screen and (min-width: 768px) {
    
}

@media only screen and (min-width: 1080px) {
    body {
        padding: 58px 352px;
    }
}